html
  head
    title= title
    script(src='https://cdn.socket.io/4.6.0/socket.io.min.js', integrity='sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+', crossorigin='anonymous')
    script(src='/js/home/socket_io_client.js')
    link(rel='stylesheet', type='text/css', href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='/css/home.css')
  body
    nav.main-menu
      div
        a.logo(href='http://startific.com')
      |  
      .settings
      #style-1.scrollbar
        ul.logout
          li
            a(href='http://startific.com')
              i.fa.fa-lightbulb-o.fa-lg
              span.nav-text Disconnect